*{
    margin:0px;
    padding: 0px;
}

.section{
    height: 250px;
    padding: 30px;
}

.section h1{
    text-align:center;
    font-family: monospace;
}

.section-1{
    background: #AED581;
}

.section-2{
    background: #80CBC4;
}

footer{
    font-family: monospace;
    padding: 12px;
    background: #000;
    color: white;
}